<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="hours.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <hours.Properties.Settings>
            <setting name="runs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="all_opacity" serializeAs="String">
                <value>9.2</value>
            </setting>
            <setting name="all_size" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="all_top" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="all_wleft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="all_wtop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zobraz_pocasi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tikani" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alarm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alarmHodiny" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="alarmMinuty" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoHodiny" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoMinuty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="barvaHodin" serializeAs="String">
                <value />
            </setting>
            <setting name="barvaH" serializeAs="String">
                <value />
            </setting>
            <setting name="barvaM" serializeAs="String">
                <value />
            </setting>
            <setting name="barvaS" serializeAs="String">
                <value />
            </setting>
            <setting name="barvaStred" serializeAs="String">
                <value />
            </setting>
            <setting name="barvaC" serializeAs="String">
                <value />
            </setting>
            <setting name="alarmMusic" serializeAs="String">
                <value />
            </setting>
            <setting name="w_city" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="w_temp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="w_info" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="w_obr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="w_datum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c_podkladA" serializeAs="String">
                <value />
            </setting>
            <setting name="c_stredA" serializeAs="String">
                <value />
            </setting>
            <setting name="c_hodinaA" serializeAs="String">
                <value />
            </setting>
            <setting name="c_minutaA" serializeAs="String">
                <value />
            </setting>
            <setting name="c_sekundaA" serializeAs="String">
                <value />
            </setting>
            <setting name="c_cifernikA" serializeAs="String">
                <value />
            </setting>
            <setting name="c0_msec" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c0_sec" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c0_min" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="c0_hour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c1_msec" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c1_sec" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c1_min" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c1_hour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c0_mid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c0_cif" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c0_pod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c0_msecx_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_msecx_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_msecx_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_msecx_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_msecx_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_msecx_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_secx_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_secx_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_secx_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_secx_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_secx_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_secx_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_minx_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_minx_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_minx_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_minx_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_minx_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_minx_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_hourx_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_hourx_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_hourx_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_hourx_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_hourx_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_hourx_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_midx_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_midx_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_midx_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_midx_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_midx_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_midx_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_cifx_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_cifx_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_cifx_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_cifx_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_cifx_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_cifx_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_podx_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_podx_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_podx_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_podx_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_podx_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c0_podx_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_CI_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_CI_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_CI_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_CI_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_CI_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_CI_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_TEMP_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_TEMP_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_TEMP_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_TEMP_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_TEMP_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_TEMP_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_INFO_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_INFO_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_INFO_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_INFO_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_INFO_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_INFO_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_OBR_nofont_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_OBR_nofont_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_OBR_nofont_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_OBR_nofont_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_OBR_nofont_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_OBR_nofont_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_DATUM_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_DATUM_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_DATUM_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_DATUM_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_DATUM_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="w_DATUM_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_msecx_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_msecx_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_msecx_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_msecx_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_msecx_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_msecx_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_secx_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_secx_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_secx_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_secx_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_secx_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_secx_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_minx_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_minx_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_minx_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_minx_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_minx_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_minx_F" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_hourx_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_hourx_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_hourx_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_hourx_O" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_hourx_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c1_hourx_F" serializeAs="String">
                <value>0</value>
            </setting>
        </hours.Properties.Settings>
    </userSettings>
</configuration>