<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="hours.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <hours.Properties.Settings>
            <setting name="runs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="all_opacity" serializeAs="String">
                <value>9.2</value>
            </setting>
            <setting name="all_size" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="all_top" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="all_wleft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="all_wtop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zobraz_pocasi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tikani" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alarm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alarmHodiny" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="alarmMinuty" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoHodiny" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoMinuty" serializeAs="String">
                <value>0</value>
            </setting>
        </hours.Properties.Settings>
    </userSettings>
</configuration>